alias avn="aws-vault exec nonprod --"
alias avp="aws-vault exec prod --"

alias bi="bundle install"

alias berc="bundle exec rails console"
alias berr="bundle exec rails runner"

alias dcr="docker-compose run"
alias dcu="docker-compose up"

eval $(thefuck --alias fuck)
eval $(thefuck --alias fcuk)
eval $(thefuck --alias fukc)
eval $(thefuck --alias ufck)

alias gss="git status"
alias ga="git add ."
alias gb="git branch"
alias gc="git checkout"
function gcb { git checkout -b "$1" ;}
alias gcd="git checkout develop"
function gcm { git commit -m "$1" ;}
alias gfo="git fetch origin"
alias gma="git merge --abort"
alias gpo="git pull origin"
alias gpod="git pull origin develop"

alias kauth=kill-author.sh
alias kmono=kill-monolith.sh
alias kcont=kill-content-service.sh

alias makex=make-executable.sh

alias pag="ps -ax | grep"

alias dcrScript="docker-compose run --rm web bundle exec rails runner"

alias sauth=start-author.sh
alias smono=start-monolith.sh
alias scont=start-content-service.sh

alias sbp="source ~/.bash_profile"
alias sz="source ~/.zshrc"

alias yi="yarn install"

alias zoos="aws-vault exec nonprod -- aws ec2 describe-instances --filters Name=instance-state-code,Values=16 --query 'Reservations[*].Instances[*].[InstanceId, PrivateIpAddress, Tags[?Key==\`Deploy_Namespace\`] | [0].Value]' --output table | grep -v None"
alias zoossh="aws-vault exec nonprod -- aws ssm start-session --target"