alias avn="aws-vault exec nonprod --"
alias avp="aws-vault exec prod --"
alias awr="aws-vault clear & unset AWS_VAULT"

alias bi="bundle install"

alias berc="bundle exec rails console"
alias berr="bundle exec rails runner"

alias dcd="docker-compose down"
alias dcr="docker-compose run"
alias dcrberc="docker-compose run --rm web bundle exec rails console"
alias dcrScript="docker-compose run --rm web bundle exec rails runner"
alias dcu="docker-compose up"

eval $(thefuck --alias fuck)
eval $(thefuck --alias fcuk)
eval $(thefuck --alias fukc)
eval $(thefuck --alias ufck)

alias gsh="git stash --include-untracked"
alias gss="git status"
alias ga="git add ."
alias gb="git branch"
alias gc="git checkout"
alias gcr="git checkout master"
function gcb { git checkout -b "$1" ;}
alias gcd="git checkout develop"
function gcm { git commit -m "$1" ;}
alias gcn="git checkout main"
function gfl { git push origin "$1" --force-with-lease ;}
alias gfo="git fetch origin"
alias ghead="git push origin HEAD"
alias gma="git merge --abort"
function gnv { git push origin "$1" --no-verify ;}
function gnvfl { git push origin "$1" --no-verify --force-with-lease ;}
alias gpo="git pull origin"
alias gpod="git pull origin develop"
alias gpon="git pull origin main"
alias gpor="git pull origin master"
alias gsh="git stash"
alias gsp="git stash pop"

alias kauth=kill-author.sh
alias kcont=kill-content-service.sh
alias kmono=kill-monolith.sh
alias kpsy=kill-psyduck.sh

alias l='git log --pretty=format:"%Cred%h%Creset - %C(bold blue)<%an>%Creset %Cgreen(%cr)%Creset %C(cyan)- %C(reset)%s %C(yellow)%d%Creset" --abbrev-commit --date=relative --color=always -20'

alias mbd="make build"
alias mcd="make compose-down"
alias mcu="make compose-up"
alias mloc="yarn next dev -p 3030"
alias mps="make pre-start"
alias mrd="make run-dev"
alias msf="make start-fast"
alias mtw="make test-watch"
alias mwd="make watch-dev"
function mwds { DEV_HTTPS_MODE=true make watch-dev ;}
alias mwt="make watch-testing"
function mwts { DEV_HTTPS_MODE=true make watch-testing ;}
alias makex=make-executable.sh

alias ornd='open "rndebugger://set-debugger-loc?host=localhost&port=8081"'
alias osim="open -a Simulator"

alias pag="ps -ax | grep"
alias p="pnpm"

alias pusheen='git push -u origin `git rev-parse --abbrev-ref HEAD`'

alias pp="netstat -vanp tcp | grep"

alias sauth=start-author.sh
alias scont=start-content-service.sh
alias smono=start-monolith.sh
alias spsy=start-psyduck.sh

alias sbp="source ~/.bash_profile"
alias sz="source ~/.zshrc"

alias yi="yarn install"

alias zoos="aws-vault exec nonprod -- aws ec2 describe-instances --filters Name=instance-state-code,Values=16 --query 'Reservations[*].Instances[*].[InstanceId, PrivateIpAddress, Tags[?Key==\`Deploy_Namespace\`] | [0].Value]' --output table | grep -v None"
alias zoossh="aws-vault exec nonprod -- aws ssm start-session --target"